{{ define "main" }}
{{/*
  This template is the same as the default and is here to demonstrate that if you have a content directory called "post" you can create a layouts directory, just for that section.
   */}}
  <article class="site-wrap nested-copy-line-height">
    <section class="page-intro {{ $.Param "text_color" | default "mid-gray" }}">
      {{ .Content }}
    </section>
    <h2 class="f3 fw4 dark-gray mb3 mt4">Testimonials</h2>   
    <aside class="card-grid">
      
      {{ range .Paginator.Pages }}
        {{ .Render "summary" }}
      {{ end }}
    </aside>
    {{ template "_internal/pagination.html" . }}
  </article>
{{ end }}
